@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* https://uigradients.com/#Lawrencium */
  background: linear-gradient(45deg, #0f0c29, #302b63, #24243e); 
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
